//colors
$white: #fff;
$color_tuna_approx: rgba(14, 32, 62, 0.74);
$color_matisse_approx: #2061a4;
$color_mariner_approx: #2667bb;
$color_silver_sand_approx: #c2c2c2;
$color_forest_green_approx: #1ca428;
$color_screamin_green_approx: #43f95a;
$color_pickled_bluewood_approx: #34495e;
$black: #000000;
$color_tuna_70_approx: rgba(14, 32, 62, 0.74);
$color_mountain_meadow_approx: #19bb9b;
$color_boston_blue_approx: #2980b9;

//fonts
$font_0: Droid Sans;
$font_1: sans-serif;
$font_2: fjordone;
$font_3: serif;

//urls
$url_0: url("http://fonts.googleapis.com/css?family=Droid+Sans");
$url_1: url("http://fonts.googleapis.com/css?family=Droid+Serif");
$url_3: url("../images/Kramer_logo.png");
$url_4: url("../images/Kramer_logo.png");
$url_5: url("../images/Kramer_bg.png");
$url_6: url("../images/Kramer_bg.png");
$url_7: url("../images/svg/menu_bar.svg");
$url_8: url("../images/svg/menu_bar_rollover.svg");
$url_9: url("../images/Kramer_bg.png");
$url_10: url("../images/svg/menu_bar.svg");
$url_11: url("../images/svg/menu_bar_rollover.svg");
$url_12: url("../images/Kramer_bg.png");